{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

<div style="background-color:rgba(255,255,255,0)"  id="message" class="bootstrap container">
  {% if messages %}
      {% for message in messages %}
      <div align="center" class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
  {% endif %}
  </div>
  
<div style="margin-top: 150px;" align = "center" class="container">
<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <div class="form-control">
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  </div>

  {% endif %}
  <button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>
</div>

{% endblock %}
